@inherits LayoutComponentBase
@using Radzen

<div class="page">

    <main>
        <AuthorizeView>
            <NavMenu></NavMenu>
        </AuthorizeView>
        
        <div class="content px-4 content-glass-container">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<RadzenComponents @rendermode="InteractiveServer" />
<RadzenTooltip />