@using Microsoft.AspNetCore.Identity
@using CalendarWebApp.Data
@using CalendarWebApp.Components.Account

@implements IDisposable

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IServiceScopeFactory ScopeFactory


<nav class="glass-nav navbar navbar-expand-md">
	<div class="container-fluid px-0">
		<a class="navbar-brand d-flex align-items-center" href="calendar" style="color:inherit;">
            <img src="/img/G-Call_logo_transparent.png" alt="Logo" width="130" class="me-2" />
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-label="Toggle navigation" style="border-color: rgba(13,71,161,.2);">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
			</ul>
			<ul class="d-flex navbar-nav mb-2 mb-md-0 align-items-center">
				<li class="nav-item mx-2">
					<NavLink class="nav-link" href="/calendar">
						<span class="bi bi-calendar-date" aria-hidden="true"></span> NAPTÁR
					</NavLink>
				</li>
				<li class="nav-item mx-2">
					<NavLink class="nav-link" href="/sharedcalendar">
						<span class="bi bi-people-fill" aria-hidden="true"></span> CSOPORTOK
					</NavLink>
				</li>
				<AuthorizeView>
					<Authorized>
						<li class="nav-item mx-2">
							<NavLink class="nav-link" href="Account/Manage">
								<span class="bi bi-person-circle me-2" aria-hidden="true"></span> FIÓK
							</NavLink>
						</li>
						<li class="nav-item mx-2">
							<form action="Account/Logout" method="post" class="m-0">
								<AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="Account/LoginD" />
								<button type="submit" class="btn btn-sm logout-button nav-link">
									<span class="bi bi-box-arrow-right" aria-hidden="true"></span> KIJELENTKEZÉS
								</button>
							</form>
						</li>
					</Authorized>
				</AuthorizeView>
			</ul>
		</div>
	</div>
</nav>

@code {
	private string? currentUrl;
	private string? userName;

	protected async override Task OnInitializedAsync()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var userPrincipal = authState.User;

		if (userPrincipal.Identity is not null && userPrincipal.Identity.IsAuthenticated)
		{
			using (var scope = ScopeFactory.CreateScope())
			{
				var userManager = scope.ServiceProvider.GetRequiredService<UserManager<ApplicationUser>>();
				var userInDb = await userManager.GetUserAsync(userPrincipal);

				if (userInDb != null)
				{
					userName = userInDb.Name;
				}
			}

			if (string.IsNullOrEmpty(userName))
			{
				userName = userPrincipal.Identity.Name;
			}

		}
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }


}

