.glass-nav {
    margin: 2rem 3rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #233D4D;
    min-height: 7rem;
    height: auto;
    position: relative;
    z-index: 10000;
}

    .glass-nav a.nav-link {
        color: #233D4D;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        border-radius: 5px;
    }


        .glass-nav a.nav-link:hover {
            background-color: rgba(13, 71, 161, 0.1);
            text-decoration: none;
        }
