.glass-nav {
    margin: 2rem 3rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #233D4D;
    min-height: 7rem;
    height: auto;
    position: relative;
    z-index: 1000;
}

    .glass-nav ::deep .nav-link {
        color: #233D4D;
        font-weight: 900;
        transition: all 0.2s ease-in-out;
        border-radius: 8px;
    }


        .glass-nav ::deep .nav-link:hover {
            background-color: rgba(35, 61, 77);
            color: #fff;
        }

        .glass-nav ::deep .nav-link.active {
            color: black;
            transform: scale(1.1);
        }

            .glass-nav ::deep .nav-link.active:hover {
                background-color: rgba(35, 61, 77);
                color: #fff;
            }


.glass-nav ::deep .logout-button {
    background: rgba(35, 61, 77);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    transition: all 0.3s ease;
}

    .glass-nav ::deep .logout-button:hover {
        background-color: #1a2e3b;
        color: white;
    }