@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personal Data</PageTitle>


<div class="w-100" style="height:100%;">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="card bg-light w-100" style="max-width:28rem; margin:auto; font-family:var(--rz-font-family, 'Roboto', 'Helvetica', Arial, sans-serif); color:var(--rz-text-color, #212529);">
            <div class="card-body p-4">
                <StatusMessage />
                <RadzenText TextStyle="TextStyle.H5" class="rz-text-align-center rz-mb-2">Personal data</RadzenText>
                <hr />
                <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
                <p>
                    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                </p>
                <form action="Account/Manage/DownloadPersonalData" method="post">
                    <AntiforgeryToken />
                    <button class="btn btn-primary" type="submit">Download</button>
                </form>
                <p>
                    <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Delete</a>
                </p>

            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
