@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
    <img src="/img/loading.gif" alt="loading" />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            _navigationManager.NavigateTo("/calendar");
        }
        else
        {
            _navigationManager.NavigateTo("/Account/LoginD");
        }
    }
}